:root {
    --primary-color: #f9faf8;
    --secondary-color: #e5e7eb;
    --dark-color: #1f2937;
    --accent-color: #3882f6;
    --accent-hover-color: #2073f7;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

.btn {
    padding: .3rem 2rem;
    border: 0;
    border-radius: .3rem;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--accent-hover-color);
}

.btn--primary {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.btn--secondary {
    border: 2px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
}

.block {
    padding: 2rem;
}

.block--dark {
    background-color: var(--dark-color);
    color: var(--secondary-color);
}

.block--grey {
    background-color: var(--secondary-color);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

/* Header */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.nav__list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* Hero */

.hero {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 4rem auto;
}

.hero__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.hero__title {
    font-size: 3rem;
    line-height: 1;
}

.hero__image {
    flex: 1;
    background-color: #757575;
    color: white;
    height: 235px;
}


/* Info section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.info__heading {
    margin: 2rem 0;
    font-size: 2.25rem;
    font-weight: 900;
}

.info__boxes {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 3rem;
}

.info__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

.info__box {
    height: 150px;
    width: 100%;
    border: 3px solid var(--accent-color);
    border-radius: .4rem;
    margin-bottom: .4rem;
}

/* Quote section */

.quote {
    margin: 4rem auto;
}

.quote__text {
    font-size: 36px;
    font-style: italic;
    color: var(--dark-color);
}

.quote__author {
    text-align: right;
    margin-top: 1rem;
}

/* Action section */

.action {
    color: var(--primary-color);
    background-color: var(--accent-color);
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    border-radius: .3rem;
}

/* Footer section */

.footer {
    display: flex;
    justify-content: center;
}