:root {
    --primary-color: #f9faf8;
    --secondary-color: #e5e7eb;
    --dark-color: #1f2937;
    --accent-color: #3882f6;

    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

.container {
    max-width: 1024px;
}

header {
    background-color: var(--dark-color);
    color: var(--secondary-color);
    padding: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
}